*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Whitney', sans-serif;
}
#intestazione{
    /* debug */
    background-color: #add8e6;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container_nav{
    background-color: #daa520 ;
    flex-basis: 70%;
    /* height: 50px */
    align-items: center;
    /* justify-content: space-between; */
    display: flex;
    border: 2px dashed black;
}
nav{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    padding-left: 10px;
    flex-basis: 25%;
    border-right: 2px dashed black;
}
#links{
    flex-basis: 50%;
    justify-content: center;
    border-right: 2px dashed black;
    border-left: 2px dashed black;
}
ul{
    display: flex;
    margin: 0px ;
}
li{
    list-style: none;
    margin: 0px 10px;
}
#login{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    flex-basis: 25%;
    border-left: 2px dashed black;
}
a{
    text-decoration: none;
    color: black;
}
#blu_square_header{
    display: flex;
    background-color: #00008b;
    align-items: center;
    justify-content: center;
    height: 400px;
}
#violet_square_header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 21, 222);
    /* justify-content: center; */
    height: 300px;
    width: 600px;
}
.square_main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.square_pink_main{
    background-color: #ffc0cb;
    width: 300px;
    height: 300px;
    border: 2px dashed black;

}
.square_blue_main{
    border: 2px dashed black;
    background-color: #1e90ff;
    width: 500px;
    height: 300px;

}
.square_green_main{
    border: 2px dashed black;
    background-color: #228b22;
    width: 800px;
    height: 500px;

}
.square_green_main,
.square_pink_main,
.square_blue_main{
    margin: 40px 0px;
}
.gray{
    background-color:#d3d3d3;
}
.square_main.gray > .square_pink_main{
    order:-1;
}
